# Challenge 1

*In order to make a good exploratory data analysis, I am going to follow several steps:*

##### Import all the necessary libraries:

In [2]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import set_matplotlib_formats
from string import ascii_letters

set_matplotlib_formats('svg')

##### Import the **diamonds_train.csv** dataset and store it in a variable called diamonds:

In [3]:
diamonds = pd.read_csv('./data/diamonds_train_1.csv')

diamonds

       carat        cut color clarity  depth  table  price     x     y     z
0       1.21    Premium     J     VS2   62.4   58.0   4268  6.83  6.79  4.25
1       0.32  Very Good     H     VS2   63.0   57.0    505  4.35  4.38  2.75
2       0.71       Fair     G     VS1   65.5   55.0   2686  5.62  5.53  3.65
3       0.41       Good     D     SI1   63.8   56.0    738  4.68  4.72  3.00
4       1.02      Ideal     G     SI1   60.5   59.0   4882  6.55  6.51  3.95
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
40450   1.34      Ideal     G     VS1   62.7   57.0  10070  7.10  7.04  4.43
40451   2.02       Good     F     SI2   57.1   60.0  12615  8.31  8.25  4.73
40452   1.01      Ideal     H     SI1   62.7   56.0   5457  6.37  6.42  4.01
40453   0.33      Ideal     J     VS1   61.9   54.3    456  4.45  4.47  2.76
40454   1.24      Ideal     I     SI1   62.0   58.0   6232  6.83  6.88  4.25

[40455 rows x 10 columns]

### Summary statistics

##### In order to understand this Dataframe, I am going to look at what kind of data it contains:

In [4]:
diamonds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40455 entries, 0 to 40454
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    40455 non-null  float64
 1   cut      40455 non-null  object
 2   color    40455 non-null  object
 3   clarity  40455 non-null  object
 4   depth    40455 non-null  float64
 5   table    40455 non-null  float64
 6   price    40455 non-null  int64
 7   x        40455 non-null  float64
 8   y        40455 non-null  float64
 9   z        40455 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 3.1+ MB

In [5]:
diamonds.describe()

,carat,depth,table,price,x,y,z
count,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000
mean,0.797706,61.752841,57.446133,3928.444469,5.729392,5.732819,3.537154
std,0.475544,1.431725,2.233535,3992.416147,1.124453,1.146650,0.697062
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,945.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2397.000000,5.690000,5.710000,3.520000
75%,1.040000,62.500000,59.000000,5331.000000,6.540000,6.540000,4.035000
max,4.500000,79.000000,95.000000,18823.000000,10.230000,58.900000,8.060000

In [6]:
diamonds.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

##### **Maximum**

In [7]:
diamonds.max()

carat            4.5
cut        Very Good
color              J
clarity         VVS2
depth             79
table             95
price          18823
x              10.23
y               58.9
z               8.06
dtype: object

##### **Minimum**

In [8]:
diamonds.min()

carat       0.2
cut        Fair
color         D
clarity      I1
depth        43
table        43
price       326
x             0
y             0
z             0
dtype: object

##### **Mean**

In [9]:
diamonds.mean()

carat       0.797706
depth      61.752841
table      57.446133
price    3928.444469
x           5.729392
y           5.732819
z           3.537154
dtype: float64

##### **Standard deviation**

In [10]:
diamonds.std()

carat       0.475544
depth       1.431725
table       2.233535
price    3992.416147
x           1.124453
y           1.146650
z           0.697062
dtype: float64

##### **Median**

In [11]:
diamonds.median()

carat       0.70
depth      61.80
table      57.00
price    2397.00
x           5.69
y           5.71
z           3.52
dtype: float64

##### **Percentiles**

In [12]:
diamonds.quantile(.25)

carat      0.40
depth     61.00
table     56.00
price    945.00
x          4.71
y          4.72
z          2.91
Name: 0.25, dtype: float64

In [13]:
diamonds.quantile(.75)

carat       1.040
depth      62.500
table      59.000
price    5331.000
x           6.540
y           6.540
z           4.035
Name: 0.75, dtype: float64

##### Now that I know general aspects, I am going to analyze each column:

#### A diamondâ€™s quality is determined by the 4Câ€™s: Cut, Color, Clarity and Carat.

##### **Cut:** Quality of the angles, proportions, facets, and finishing details (Fair, Good, Very Good, Premium, Ideal)

In [14]:
diamonds['cut'].unique()

array(['Premium', 'Very Good', 'Fair', 'Good', 'Ideal'], dtype=object)

##### **Color:** How colorless the diamond is (from J (worst) to D (best))

In [15]:
diamonds['color'].unique()

array(['J', 'H', 'G', 'D', 'F', 'E', 'I'], dtype=object)

##### **Clarity:** How clean the diamond is of inclusions and blemishes (I1 (worst), SI2, SI1, VS2, VS1, VVS2, VVS1, IF (best))

In [16]:
diamonds['clarity'].unique()

array(['VS2', 'VS1', 'SI1', 'SI2', 'IF', 'VVS1', 'VVS2', 'I1'],
      dtype=object)

##### **Carat:** The weight of the diamond.

In [17]:
diamonds['carat'].unique()

array([1.21, 0.32, 0.71, 0.41, 1.02, 1.52, 1.01, 0.31, 1.14, 0.44, 0.93,
       1.51, 1.65, 1.5 , 0.43, 0.38, 0.85, 1.53, 1.54, 0.3 , 1.3 , 1.  ,
       0.9 , 1.55, 1.16, 0.35, 0.97, 1.19, 0.7 , 0.8 , 2.  , 0.5 , 0.51,
       1.04, 0.64, 0.78, 0.52, 0.33, 0.47, 1.59, 0.34, 0.74, 1.08, 0.79,
       1.33, 0.58, 1.22, 1.62, 0.55, 1.64, 1.1 , 1.03, 0.56, 1.13, 0.91,
       1.24, 2.3 , 0.27, 0.36, 1.77, 1.06, 1.27, 0.92, 2.01, 1.83, 0.23,
       0.77, 2.07, 1.11, 1.56, 0.96, 2.25, 1.18, 1.72, 0.59, 0.57, 0.72,
       0.4 , 0.42, 1.36, 1.15, 0.54, 1.86, 1.41, 0.75, 2.22, 1.23, 0.88,
       1.25, 0.28, 1.82, 1.37, 1.2 , 1.05, 0.39, 0.6 , 0.76, 0.25, 0.73,
       0.53, 0.63, 2.53, 0.65, 0.62, 1.4 , 1.7 , 0.83, 1.17, 0.46, 1.26,
       1.58, 2.13, 0.24, 1.07, 2.04, 0.45, 1.09, 2.05, 1.31, 0.29, 0.84,
       1.12, 0.81, 2.75, 0.22, 0.66, 1.74, 1.57, 1.29, 1.69, 0.49, 2.24,
       2.02, 0.61, 1.32, 1.87, 0.37, 0.67, 1.73, 0.82, 1.46, 1.71, 0.26,
       2.64, 2.14, 2.33, 2.03, 1.35, 2.57, 1.39, 1.42, 1.76, 2.17, 1.43,
       1.9 , 2.08, 2.32, 2.36, 0.99, 2.18, 3.  , 1.63, 0.68, 1.44, 0.95,
       2.19, 0.48, 1.45, 2.28, 2.09, 1.6 , 1.61, 0.94, 0.2 , 2.21, 2.23,
       2.1 , 2.51, 1.34, 1.47, 2.27, 2.06, 1.8 , 2.12, 1.68, 2.11, 2.47,
       2.35, 1.38, 2.42, 1.91, 1.98, 0.98, 4.  , 2.26, 0.87, 1.99, 2.15,
       1.28, 2.44, 4.01, 2.2 , 1.49, 3.01, 0.86, 1.78, 2.52, 2.48, 1.94,
       3.02, 2.34, 1.95, 1.75, 2.58, 0.69, 2.49, 1.79, 2.16, 1.96, 2.66,
       2.63, 2.37, 2.54, 2.31, 0.89, 2.29, 1.81, 2.74, 2.56, 1.48, 2.39,
       0.21, 2.7 , 1.85, 2.46, 2.5 , 1.88, 2.38, 3.04, 2.4 , 1.67, 2.6 ,
       2.41, 2.77, 1.97, 2.45, 2.8 , 1.66, 2.61, 2.43, 2.71, 2.59, 3.24,
       3.11, 3.4 , 1.89, 3.51, 1.84, 1.93, 2.72, 2.55, 3.22, 4.13, 1.92,
       2.67, 3.05, 4.5 , 3.5 , 2.65, 2.68])

##### In order tu know the **Volume**, we need to apply the formula **Volume = length x width x height**: x (length), y (width), z (depth)

In [18]:
diamonds['Volume'] = diamonds['x']* diamonds['y'] * diamonds['z']
diamonds

,carat,cut,color,clarity,depth,table,price,x,y,z,Volume
0,1.21,Premium,J,VS2,62.4,58.0,4268,6.83,6.79,4.25,197.096725
1,0.32,Very Good,H,VS2,63.0,57.0,505,4.35,4.38,2.75,52.395750
2,0.71,Fair,G,VS1,65.5,55.0,2686,5.62,5.53,3.65,113.436890
3,0.41,Good,D,SI1,63.8,56.0,738,4.68,4.72,3.00,66.268800
4,1.02,Ideal,G,SI1,60.5,59.0,4882,6.55,6.51,3.95,168.429975
...,...,...,...,...,...,...,...,...,...,...,...
40450,1.34,Ideal,G,VS1,62.7,57.0,10070,7.10,7.04,4.43,221.429120
40451,2.02,Good,F,SI2,57.1,60.0,12615,8.31,8.25,4.73,324.276975
40452,1.01,Ideal,H,SI1,62.7,56.0,5457,6.37,6.42,4.01,163.990554
40453,0.33,Ideal,J,VS1,61.9,54.3,456,4.45,4.47,2.76,54.900540
40454,1.24,Ideal,I,SI1,62.0,58.0,6232,6.83,6.88,4.25,199.709200

##### Which are the characteristics of the diamond with the highest price?

In [19]:
diamonds.loc[diamonds['price'].idxmax()]

carat         2.29
cut        Premium
color            I
clarity        VS2
depth         60.8
table           60
price        18823
x              8.5
y             8.47
z             5.16
Volume     371.494
Name: 7034, dtype: object

##### Which are the characteristics of the diamond with the lowest price?

In [20]:
diamonds.loc[diamonds['price'].idxmin()]

carat        0.23
cut         Ideal
color           E
clarity       SI2
depth        61.5
table          55
price         326
x            3.95
y            3.98
z            2.43
Volume     38.202
Name: 9782, dtype: object

In [21]:
corr = diamonds.corr()
corr

,carat,depth,table,price,x,y,z,Volume
carat,1.000000,0.026528,0.183392,0.921935,0.975688,0.951667,0.967570,0.971851
depth,0.026528,1.000000,-0.293114,-0.014864,-0.026348,-0.030966,0.094655,0.006721
table,0.183392,-0.293114,1.000000,0.130111,0.196059,0.184673,0.155189,0.168437
price,0.921935,-0.014864,0.130111,1.000000,0.885848,0.866163,0.874500,0.898684
x,0.975688,-0.026348,0.196059,0.885848,1.000000,0.973712,0.984876,0.952303
y,0.951667,-0.030966,0.184673,0.866163,0.973712,1.000000,0.964828,0.977860
z,0.967570,0.094655,0.155189,0.874500,0.984876,0.964828,1.000000,0.953983
Volume,0.971851,0.006721,0.168437,0.898684,0.952303,0.977860,0.953983,1.000000